/* SIZING ITEMS

flex-basis (the initial size of a flex item)
flex-grow (the growth factor)
flex-shrink ( the shrink factor)
flex - combines all above properties
*/

body {
    margin: 10px;
}

.container {
    border: 3px solid lightgray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.box {
    flex-basis: 15rem;
    flex-grow: 1;
    flex-shrink: 1 1 15rem;   
    flex: 1; 
    width: 5rem;
    height: 5rem;
    background-color: gold;
    margin: 1rem;
}

.box-one {
   /* flex-grow: 2;*/
    /*flex-shrink: 0;*/
}