#para-1 {
  padding: 10px 20px; /*its like 10 20 10 20 */
  border: 5px solid gold;
}

#para-2 {
  margin: 20px;
  padding: 0px;
}

#para-3 {
  margin: 0px;
  padding: 20px;
}

/* General rule: 
- Margin property is used to separate elements
- Padding property is used to add space between borders and content areas.*/
